{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }}">
	{{ partial "sidebar.html" . }}

	<div class="content container">
		<h1>News</h1>
		<ul class="news-list">
		{{ range .Site.Sections.news.Pages }}
			<li>
				<span class="date">{{ .Date.Format "Jan 2, 2006" }}</span>
				<a href="{{ .Permalink }}">{{ .Title }}</a>
				<div class="summary">
					{{ if .Description }}{{ .Description }}{{ else }}{{ .Summary }}{{ end }}
				</div>
			</li>
		{{ end }}
		</ul>
	</div>
</body>
</html>
